.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 434px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 434px;
}

.u-section-1 .u-container-layout-2 {
  padding: 1px 16px;
}

.u-section-1 .u-text-1 {
  margin: 20px 44px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 268%;
    left: -84%;
    height: 100%;
    top: 0%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2 .u-gallery-1 {
  width: 1061px;
  height: 658px;
  grid-gap: 10px 10px;
  margin: 40px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -32px;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 28px;
  width: 40px;
  height: 40px;
  top: 44px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 44px;
  right: 28px;
}

.u-section-2 .u-text-1 {
  font-family: "Alex Brush";
  font-size: 3.75rem;
  margin: -630px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 45px;
  height: 42px;
  margin: -54px auto 60px 525px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    margin-top: 30px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 23px;
    top: 99px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 99px;
    right: 23px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-gallery-1 {
    height: 511px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -488px;
  }

  .u-section-2 .u-shape-1 {
    width: 35px;
    height: 33px;
    margin-top: -42px;
    margin-left: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-2 .u-gallery-1 {
    height: 409px;
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-over-slide-1 {
    width: 540px;
  }

  .u-section-2 .u-over-slide-2 {
    width: 540px;
  }

  .u-section-2 .u-over-slide-3 {
    width: 540px;
  }

  .u-section-2 .u-over-slide-4 {
    width: 540px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 25px;
    top: 23px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 23px;
    right: 25px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -409px;
    margin-right: 93px;
    margin-left: 194px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -134px;
    margin-right: 93px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-2 .u-gallery-1 {
    height: 304px;
    margin-top: 168px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-2 .u-over-slide-2 {
    width: 340px;
  }

  .u-section-2 .u-over-slide-3 {
    width: 340px;
  }

  .u-section-2 .u-over-slide-4 {
    width: 340px;
  }

  .u-section-2 .u-carousel-control-1 {
    top: 15px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 15px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 253px;
    margin-top: -449px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 23px;
    margin-right: auto;
  }
}